body {
    margin: 0;
    font-family: Arial;
    background-image: linear-gradient(135deg, black, orange);
    height: 150vh;

}
 header {
   overflow: hidden;
   position: relative;
    height: 70px;
    border-bottom: 4px solid orange;
    background: #222;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 @keyframes andar {
   0% {
      left: -60px;
   }
   100% {
      left: 100%;
   }
   }
 .carroan {
   width: 50px;
   position: absolute;
   bottom: -10px;
   animation: andar 6s linear infinite;
 }
 nav {
    display: flex;
    gap: 180px;
    padding: 150px;
 }
 nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
     transition: 0.3s;
 }
 nav a:hover {
    color: darkorange;
 }
 .hero {
    position: relative;
    height: 85vh;
    width: 100%;
 }
 .hero .bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
 }
 /* BOTÃO */
.btn-topo {
    transition: 0.3s;
    background: orange;
    color: white;
    padding: 15px 50px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}
.btn-topo:hover {
    background: black;
    box-shadow: 0 0 10px orange;
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo h1 {
    margin: 0;
    font-size: 22px;
    display: flex;
    align-items: center;
}
.logo img {
    transform: translateY(-5px);
    height: 40px;
    width: auto;
    display: block;
}
h1 {
    font-size: 32px;
    text-align: center;;
}
h2 {
    color: orange;
    text-align: center;
}
p {
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    max-width: 800px;
    margin: 15px auto;
    color: #f5f5f5;;
}
.carro1 {
    display: block;
    margin: 0px auto;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
    margin-top: -30px;
}
.card {
    overscroll-behavior-block: rgba(0, 0, 0, 0.6);
    border: 3px solid black;
    border-radius: 10px;
    padding: 15px;
    color: white;
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin:  -10px  auto;
    transition: 0.3s;
    background: orange;
    color: white;
    padding: 30px 30px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}
.btn:hover {
    background: black;
    box-shadow: 0 0 10px orange;
}